body{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: rgba(240, 240, 240);
  margin: 0;
  background-image: url();
  background-size: cover;
}

header{
  background-color: #06eac3;
  margin: 35px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px rgba(230, 230, 230);
}

header h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: lighter;
}

header h2{
  font-weight: lighter;
}

header a{
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  /* color: #43ddbf; */
}

header a:hover{
  text-decoration: none;
  color: lightgrey;
  /* color: #29ad96; */
}

header p{
  color: #ffffff;
}

section{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.box{
  display: block;
  width: auto;
  margin: auto;
  padding: 20px;
  max-width: 1100px;
}

.box-1{
  height: 200px;
  margin-top: 10px;
  margin-right: 340px;
  margin-left: 340px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.child-1{
    height: 140px;
    width: 50%;
}

.child-2{
    width: 20%;
    height: 60px;
}

.child-3{
    width: 20%;
    height: 60px;
}

.child-4{
    width: 20%;
    height: 60px;
}

.child-7{
    width: 20%;
    height: 60px;
}

footer{
  text-align: center;
  padding: 30px;
  background-color: #000000;
  color: #ffffff;
}

footer a{
  text-decoration: none;
  color: lightgrey;
  font-size: 20px;
}

footer a:hover{
  color: #ffffff;
}
