body{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: rgba(240, 240, 240);
  margin: 0;
  /* background-image: url(); */
  background-size: cover;
}

/*cabeçalho*/
header{
  background-color: #06eac3;
  margin: auto;
  border-radius: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px rgba(230, 230, 230);
}


header h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #000000;
  font-weight: lighter;
}

header h2{
  font-weight: lighter;
}

header a{
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  /* color: #43ddbf; */
}

header a:hover{
  text-decoration: none;
  color: lightgrey;
  /* color: #29ad96; */
}

header p{
  color: #ffffff;
}

/* NOTE: PADROES DO MENU - start*/
nav{
  width: auto;
  font-size: 75%;
  color: #ffffff;
  text-align: center;
  margin: auto;
  position: center;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav a{
  padding: 10px 40px;
  font-size: 1.4em;
}

nav a:link{
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size:1.3em;
  color: #06eac3;
  background-color: white;
  padding: 10px 40px;

}

nav a:hover{
  font-style: normal;
  text-transform: none;
  color: #ffffff;
  background-color: #048c76;
  border-radius: 5px;
  font-size:1.3em;
}

nav a:visited{
  font-style: normal;
  color: #ffffff;
  background-color: #06eac3;
  border-radius: 5px;
  font-size:95%;
}
/* NOTE: PADROES DO MENU - end*/
/*cabeçalho*/

/*corpo*/
section{
  padding: 100px;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.box{
  display: block;
  width: auto;
  /*border: solid 1px rgb(230, 30, 91);*/
  margin: unset;
  padding: 10px;
  max-width: 1100px;
}

.box-1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.box-2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.child-1{
  flex-grow: 1;
  height: 250px;
}

.child-2{
  flex-grow: 1;
}

.child-3{
  flex-grow: 1;
}

.child-4{
  flex-grow: 1;
}

.child-5{
  flex-grow: 1;
}

.child-6{
  flex-grow: 1;
}

.child-7{
  flex-grow: 1;
}

.child-8{
  flex-grow: 1;
}

.child-9{
  flex-grow: 1;
}

.child-10{
  flex-grow: 1;
}

.equipe{
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

/*corpo*/

/* formulario de contato - start*/
form{
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
  padding: 5px 10px 10px 10px;

}

input, textarea{
  width: 474px;
  padding: 10px;
}

.enviar input {
  background-color: #06ebc4;
  height: 40px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: #FFF;
  cursor: pointer;
}

.enviar input:hover{
  background: #078;
}

textarea {
  width: 474px;
  height: 120px;
  line-height: 20px;
}
/* formulario de contato - end*/

/*rodapé*/
footer{
  text-align: center;
  padding: 30px;
  background-color: #000000;
  color: #ffffff;
}

footer a{
  text-decoration: none;
  color: lightgrey;
  font-size: 20px;
}

footer a:hover{
  color: #ffffff;
}
/*rodapé*/
